<%=render "shared/navbar", right_el: "back", left_el: "none", title: "New Transaction"%>
<%= form_with url: category_transactions_path(params[:category_id]), method: :post, local: true, scope: :transaction, class:"p-3" do |f|%>
    <div class="mb-3">
        <%= f.label :name, "Name", class:"form-label" %><br>
        <%= f.text_field :name,  :required => true, class:"form-control", placeholder: "Enter the name of the transaction" %>
    </div>
    <div class="mb-3">
        <%= f.label :amount, "Amount", class:"form-label" %><br>
        <%= f.number_field :amount,  :required => true, class:"form-control", placeholder: "How much did the transaction cost" %>
    </div>

    <p class="choose-categories-title">Choose categories</p>
    <em class="choose-categories-note">Mcdo is by default selected</em>
    <div class="mb-3 category-selects">
        <%= render "transactions/shared/select_form", categories: current_user.categorys%>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
<%end%>

